@import "../common.scss";

@include mobile {
  .nav-hamburger {
    position: fixed;
    top: 1rem;
    right: 0.6rem;
  }
}

nav {
  &.minimized {
    --nav-width: 5rem;

    .collapse-arrow {
      color: transparent !important;
    }
  }

  display: flex;
  flex-flow: column;
  height: 100vh;
  width: var(--nav-width);
  background-color: #212121;
  transition: width 0.6s ease-out;

  @include mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    z-index: 900;

    &.show {
      display: flex;
    }
  }

  .minimize-icon {
    position: absolute;
    font-size: 1.2rem;
    color: #fff;

    @include mobile {
      display: none;
    }
  }

  .logo {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0.8rem 0.6rem 0.6rem;
    background-color: rgba(#000, 0.5);

    @include mobile {
      padding: 0.6rem 2.5rem;
    }

    img {
      max-width: 100%;
      max-height: 3rem;
      transition: max-height 0.3s ease;
    }

    .title {
      font-size: 1.2rem;
      font-weight: 800;
      padding-top: 0.2rem;
      text-align: center;
      color: #fff;
      transition: font-size 0.3s ease;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.8rem 1rem;
    color: #fff;
    transition: color 0.3s ease;

    @include desktop {
      &:not(.disabled):not(.disable-hover):hover {
        color: #33b5e5;
      }
    }

    &.active {
      color: #33b5e5;
      font-weight: 600;
      border-left: 4px solid #33b5e5;
    }

    &.disabled {
      cursor: none;
      opacity: 0.5;
    }

    img,
    i,
    svg {
      font-size: 1.2rem;
      height: 1.2rem;
      margin-right: 0.8rem;
      transition: height 0.3s ease, font-size 0.3s ease;
    }

    span {
      line-height: 1.2;
    }
  }

  .collapse-arrow {
    color: #fff;
  }

  .user {
    border-bottom: 2px solid rgba(#000, 0.5);

    .user-code {
      font-size: 0.85rem;
    }
  }

  .menu {
    height: 100%;
    overflow-y: scroll;

    .sub-menu {
      .menu-item {
        padding-left: 3rem;
        background-color: rgba(#000, 0.5);
      }
    }
  }

  .logout {
    border-top: 2px solid rgba(#000, 0.5);
  }

  &.minimized {
    $padding: 0.4rem;
    $font-size: 0.6rem;

    .logo {
      padding: 0.6rem $padding $padding;

      img {
        max-height: 2rem;
      }

      .title {
        font-size: $font-size;
      }
    }

    .menu-item {
      flex-flow: column;
      font-size: $font-size;
      padding: $padding;
      text-align: center;

      img,
      i,
      svg {
        margin-right: 0rem;
        margin-bottom: 0.2rem;
      }

      .user-code {
        font-size: $font-size;
      }
    }

    .menu {
      .sub-menu {
        .menu-item {
          padding-left: $padding;
        }
      }
    }
  }
}
